.textContainer {
    min-width: 600px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    text-align: left;
}

.textContainer p {
    margin-bottom: 10px;
    padding-bottom: 2vh;
    text-align: left;
    line-height: 1.6;
    font-size: clamp(1rem, 2vw, 1.4rem);
}

.textContainer h1 {
    text-align: center;
    color: var(--text);
    font-size: clamp(6rem, 8vw, 12rem);
}

.actionButtonContainer {
    padding-bottom: clamp(1vh, 2vh, 5vh);
}
