:root {
  --font-averia-serif-libre: "Averia Serif Libre", serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: rgb(38, 68, 63);
    --text-alternative: rgb(255,255,255);
    --text-rgb: 38, 68, 63;
    --foreground: rgb(38, 68, 63);
    --background: rgb(231, 227, 218);
    --main-container: rgb(244, 241, 236);
    --primary: rgb(38, 68, 63);
    --secondary: rgb(255, 255, 255);
    --accent: rgb(224, 242, 127);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #E8E2D8;
    --text-rgb: 232, 226, 216;
    --foreground: #E8E2D8;
    --background: #14181E;
    --main-container: #1C1F26;
    --primary: #8CAB8F;
    --secondary: #273D34;
    --accent: #789A7A;
  }
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-averia-serif-libre), var(--font-inter), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
